/* 
0-600px: Phone
600-900px: Tablet Portrait
900-1200px: Tablet landscape
[1200-1800]: e' la grandezza "Naturale" di partenza
1800px+ : Big desktop

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

--ORDER-- Base+typography>general layout +grid>page layout> components

*/
/*

1 em= 16px ( il resto del progetto era in rem che valeva 10px ma per le media query usiamo em per evitare che la scelta di una grandezza di font custom seclto dall'utente nel browser abbia la precedenza su quello che e' di base la ggrandezza del font scelta nel progetto
max-width : domanda e' minore di x?
min-width doomanda: e' maggiore di x?
*/
@font-face {
  font-family: myFontCounter;
  src: url("/assets/font/ScriptofSheep.ttf"); /* IE9 Compat Modes */
  src: url("/assets/font/ScriptofSheep.eot?#iefix") format("embedded-opentype"), url("/assets/font/ScriptofSheep.woff") format("woff"), url("/assets/font/ScriptofSheep.ttf") format("truetype"), url("/assets/font/ScriptofSheep#svgFontName") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: myFontBtn;
  src: url("/assets/font/DripOctoberRegular.ttf"); /* IE9 Compat Modes */
  src: url("/assets/font/DripOctoberRegular.ttf.eot?#iefix") format("embedded-opentype"), url("/assets/font/DripOctoberRegular.woff") format("woff"), url("/assets/font/DripOctoberRegular.ttf") format("truetype"), url("/assets/font/DripOctoberRegular#svgFontName") format("svg"); /* Legacy iOS */
}
/* @font-face {
  font-family: myFontCounter;

  src: url("/sheep-counter/assets/font/ScriptofSheep.ttf");
  src: url("/sheep-counter/assets/font/ScriptofSheep.eot?#iefix")
      format("embedded-opentype"),
    url("/sheep-counter/assets/font/ScriptofSheep.woff") format("woff"),
    url("/sheep-counter/assets/font/ScriptofSheep.ttf") format("truetype"),
    url("/sheep-counter/assets/font/ScriptofSheep#svgFontName") format("svg");
}

@font-face {
  font-family: myFontBtn;

  src: url("/sheep-counter/assets/font/DripOctoberRegular.ttf");
  src: url("/sheep-counter/assets/font/DripOctoberRegular.ttf.eot?#iefix")
      format("embedded-opentype"),
    url("/sheep-counter/assets/font/DripOctoberRegular.woff") format("woff"),
    url("/sheep-counter/assets/font/DripOctoberRegular.ttf") format("truetype"),
    url("/sheep-counter/assets/font/DripOctoberRegular#svgFontName")
      format("svg");
}
 */
/* ------- General style ------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

*:focus {
  outline: none;
}

html {
  font-family: myFontCounter;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  min-width: 360px;
  overflow: hidden;
  padding: 7rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: #28353e;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
  font-size: 16px;
}
@media only screen and (max-width: 37.5em) {
  body {
    padding: 4rem;
  }
}

.prova {
  position: absolute;
  z-index: 300;
}

/* ------- Counter - general style  ------- */
.counter {
  flex-grow: 1;
  min-width: -moz-min-content;
  min-width: min-content;
  width: 80%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  padding: 2rem;
  gap: 10rem;
}
.counter div {
  margin: auto;
}
@media only screen and (max-width: 75em) {
  .counter {
    gap: 12rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .counter {
    gap: 12rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .counter {
    gap: 6rem;
  }
}

/* ------- Counter - display number ------- */
.display-number {
  height: 6rem;
  width: 25rem;
  background: transparent;
  color: rgb(207, 198, 226);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

/* ------- Counter - button's section ------- */
.button-container {
  display: flex;
  flex-direction: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  gap: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }
}

.sheep {
  color: rgba(98, 126, 144, 0.922);
  flex-grow: 2;
  z-index: -5;
}

button {
  font-family: myFontBtn;
  font-size: 2rem;
  height: 8rem;
  width: 8rem;
  box-shadow: -3px 3px 3px whitesmoke;
  border-radius: 100%;
  background-color: #28353e;
  border: none;
  color: rgb(207, 198, 226);
  padding: 0.1rem;
  text-align: center; /* Safari */
  transition-duration: 0.6s;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
button:hover {
  transform: translate(0.4rem, -0.2rem);
  color: rgb(207, 198, 226);
  box-shadow: -5px 5px 3px rgb(207, 198, 226);
}

button:after {
  content: "";
  background: rgb(207, 198, 226);
  border-radius: 100rem;
  display: block;
  position: absolute;
  padding-top: 350%;
  padding-left: 300%;
  margin-left: -2rem !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/* ------- Counter - name's container ------- */
/* ------- Mediaquery ------- *//*# sourceMappingURL=main.css.map */