// Color Sheep Project
$color-background-night: #28353e;
$color-shadow-1: rgb(184, 184, 176);
$color-empty-button: rgb(236, 236, 223);
$color-empty-button-rst: rgba(62, 150, 15, 0.92);
$color-empty-button-up: rgba(62, 150, 15, 0.92);
$color-empty-button-down: rgba(62, 150, 15, 0.92);
$color-moon-yellow: rgb(182, 154, 13);
$color-button-dec: rgba(183, 40, 66, 0.92);
$color-button-dec-more: rgba(242, 97, 124, 0.92);
$color-button-inc: rgba(62, 150, 15, 0.92);
$color-button-inc-more: rgba(133, 243, 74, 0.92);
$color-button-rst: rgba(43, 83, 205, 0.92);
$color-button-rst-more: rgba(113, 185, 239, 0.92);
$color-box-shadow: rgba(0, 0, 0, 0.25);
$color-box-shadow-up: rgba(133, 243, 74, 0.92);
