// Color
$primary-color: #393441;
$primary-color-inverse: #2f2a36;
$secondary-color: #faf8ff;
$tertiary-color: #fbba83;
// Color Sheep Project
$color-background-night: #28353e;
$color-button-primary: rgb(34, 60, 34);
$color-writing-primiry: whitesmoke;
$color-background-night-light: #31414c;
$color-shadow-4: rgb(150, 138, 175);
$color-shadow-3: rgb(207, 198, 226);
$color-shadow-1: rgba(60, 93, 115, 0.922);
$color-shadow-2: rgba(98, 126, 144, 0.922);
$color-moon-yellow: rgb(182, 154, 13);
