// Font - type
$font-family: "Reem Kufi", sans-serif;

@font-face {
  font-family: myFont1;
  src: url(assets/font/Sheep-Regular.ttf);
}

@font-face {
  font-family: myFont2;
  src: url(assets/font/ScriptSheep.ttf);
}

@font-face {
  font-family: myFont3;
  src: url(assets/font/LovelyHome-9aBZ.ttf);
}
@font-face {
  font-family: myFont4;
  src: url(assets/font/DripOctober-vm0JA.ttf);
}
